<div class="bg-white h-screen w-screen max-w-[375px]">
  <button (click)="closeMenu()" class="absolute right-4 top-4">
    <mat-icon
      inline="true"
      class="!text-[40px] xl:!hidden"
      aria-hidden="false"
      aria-label="menu icon"
      fontIcon="close"
    />
  </button>
  <ul class="gap-24 flex flex-col justify-center items-center h-screen text-xl">
    @for(element of arrayElementModal; track $index){
    <a
      (click)="closeMenu()"
      [routerLink]="['/' + element.toLowerCase()]"
      [className]="$index + 1 == data.index ? 'underline' : ''"
      >{{ element }}
    </a>
    }
  </ul>
</div>
